{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h1>About page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem earum eius est fuga harum hic
    incidunt nemo optio quae quas quasi,
<div id="msg-danger">dolores ea error fugiat, impedit minima minus nesciunt, pariatur ratione rerum similique
    totam ullam unde. Ea illum molestiae reiciendis
</div>
illo ipsam iusto odit pariatur provident quidem rem rerum sapiente sit suscipit, velit! Ab aperiam aut
consectetur corporis cumque deserunt dignissimos dolorem ducimus eligendi eveniet id illum iusto minus modi
mollitia nam
<div id="msg-warning">cupiditate delectus dolores earum eos error facilis iste labore mollitia non numquam
    officia quidem reiciendis repudiandae saepe tempore voluptates.
</div>
Alias, aliquam assumenda consequatur
consequuntur deleniti dicta dolor eius eveniet empora vitae voluptatum. A, ad aperiam architecto autem
delectus dolorem doloribus eos id illum labore magnam neque non nulla?
<div id="msg-success">commodi dignissimos eveniet exercitationem facere magnam nulla, quidem
    temporibus totam veniam voluptate. Accusantium aliquid at commodi deleniti distinctio doloremque eius
    eligendi esse, et excepturi hic ipsum laboriosam libero minima
</div>
nihil perspiciatis quaerat qui quisquam
reiciendis repellat sit soluta ut velit. Aliquid, dolor expedita
explicabo inventore nemo quaerat quam rerum sed.
<div id="msg-info">delectus dolore esse, eum eveniet id illum libero
</div>
Alias aliquid autem consequatur ducimus eaque impedit incidunt
ipsa ipsam itaque, laborum molestias necessitatibus omnis quaerat quia quidem reiciendis sed unde.</p>
{% endblock %}