<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}">
    <title>{% block title %}{% endblock %} &lambda; easy-ref</title>
    {% endblock %}
</head>
<body class="dark">
<header class="header">
    <button class="menu-icon-btn" data-menu-icon-btn>
        <img class="menu-icon" src="{{url_for('static', filename='images/menu-icon.svg')}}"/>
    </button>
    <button class="theme-toggle-button">
        Theme
    </button>
</header>
<div class="my-container">
    <aside class="sidebar" data-sidebar>
        <div class="middle-sidebar">
            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="#" class="sidebar-link">
                        <div class="sidebar-list-item-preview">D</div>
                        <div class="hidden-sidebar">Dashboard</div>
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="#" class="sidebar-link">
                        <div class="sidebar-list-item-preview">G</div>
                        <div class="hidden-sidebar">Groups</div>
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="#" class="sidebar-link">
                        <div class="sidebar-list-item-preview">C</div>
                        <div class="hidden-sidebar">Customization</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="bottom-sidebar">
            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="#" class="sidebar-link">
                        <div class="sidebar-list-item-preview">S</div>
                        <div class="hidden-sidebar">Settings</div>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <main class="container content">
        {% block content %}{% endblock %}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem earum eius est fuga harum hic
            incidunt nemo optio quae quas quasi,
        <div id="msg-danger">dolores ea error fugiat, impedit minima minus nesciunt, pariatur ratione rerum similique
            totam ullam unde. Ea illum molestiae reiciendis
        </div>
        illo ipsam iusto odit pariatur provident quidem rem rerum sapiente sit suscipit, velit! Ab aperiam aut
        consectetur corporis cumque deserunt dignissimos dolorem ducimus eligendi eveniet id illum iusto minus modi
        mollitia nam
        <div id="msg-warning">cupiditate delectus dolores earum eos error facilis iste labore mollitia non numquam
            officia quidem reiciendis repudiandae saepe tempore voluptates.
        </div>
        Alias, aliquam assumenda consequatur
        consequuntur deleniti dicta dolor eius eveniet ipsa iusto magnam maiores maxime, modi, molestias numquam
        officia omnis perspiciatis quaerat quam repellendus tempora vitae voluptatum. A, ad aperiam architecto autem
        delectus dolorem doloribus eos id illum labore magnam neque non nulla?
        <div id="msg-success">commodi dignissimos eveniet exercitationem facere magnam nulla, quidem
            temporibus totam veniam voluptate. Accusantium aliquid at commodi deleniti distinctio doloremque eius
            eligendi esse, et excepturi hic ipsum laboriosam libero minima
        </div>
        nihil perspiciatis quaerat qui quisquam
        reiciendis repellat sit soluta ut velit. Distinctio eaque ex explicabo nulla sed. Aliquid, dolor expedita
        explicabo inventore nemo quaerat quam rerum sed.
        <div id="msg-info">delectus dolore esse, eum eveniet id illum libero
        </div>
        Alias aliquid autem consequatur ducimus eaque impedit incidunt
        ipsa ipsam itaque, laborum molestias necessitatibus omnis quaerat quia quidem reiciendis sed unde.</p>
    </main>
</div>

<div class="footer">
    {% block footer %}
    &copy; Copyright 2022 by easy-ref.
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename='js/nav.js') }}" defer></script>
<script src="{{ url_for('static',filename='js/theme.js') }}" defer></script>
</body>
</html>