<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}">
    <title>{% block title %}{% endblock %} &lambda; easy-ref</title>
    {% endblock %}
</head>
<body class="dark">
<header class="header">
    <button class="menu-icon-btn" data-menu-icon-btn>
        <img class="menu-icon" src="{{url_for('static', filename='images/menu-icon.svg')}}"/>
    </button>
    <div class="easy-ref-logo">
        <img src="{{url_for('static', filename='images/easy-ref.png')}}"/>
    </div>
    <button class="theme-toggle-button">
        Theme
    </button>
</header>
<div class="my-container">
    <aside class="sidebar" data-sidebar>
        <div class="middle-sidebar">
            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="{{url_for('home')}}" class="sidebar-link">
                        <div class="sidebar-list-item-preview">H</div>
                        <div class="hidden-sidebar">Home</div>
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{{url_for('customization')}}" class="sidebar-link">
                        <div class="sidebar-list-item-preview">C</div>
                        <div class="hidden-sidebar">Customization</div>
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{{url_for('about')}}" class="sidebar-link">
                        <div class="sidebar-list-item-preview">A</div>
                        <div class="hidden-sidebar">About</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="bottom-sidebar">
            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="#" class="sidebar-link">
                        <div class="sidebar-list-item-preview">S</div>
                        <div class="hidden-sidebar">Settings</div>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <main class="container content">
        {% block content %}{% endblock %}
    </main>
</div>

<div class="footer">
    {% block footer %}
    &copy; Copyright 2022 by easy-ref.
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename='js/nav.js') }}" defer></script>
<script src="{{ url_for('static',filename='js/theme.js') }}" defer></script>
<script src="{{ url_for('static',filename='js/open_new_tabs.js') }}" defer></script>
</body>
</html>