body{
    --semantic-color-danger:#f8d7da;
    --semantic-color-warning:#fff3cd;
    --semantic-color-success:#d4edda;
    --semantic-color-info:#d1ecf1;

    --text-color: black;

    --primary-color-1:#F6F6F6;
    --primary-color-2:#97A9B4;
    --secondary-color-1:#C9F0FF;
    --secondary-color-2:#EBFCFB;
    --accent-color-1:#7289DA;

    margin: 0;
    color: var(--text-color);
    background-color: var(--primary-color-1);
}

body.dark{
    --text-color: white;
    --primary-color-1:#23272A;
    --secondary-color-2:#2C2F33;
    --btn-text-color: white;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --header-height: 70px;
    --btn-text-color: rgb(80,80,80);
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
}

.hide{
    display: none;
}

.header{
    display:flex;
    align-items:center;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 7px 0px rgba(0,0,0,.25);
    padding: 0 .5rem;
    height: var(--header-height);
    background-color: var(--primary-color-2);
}

.sidebar{
    flex-shrink: 0;
    overflow:hidden;
    width: 80px;
    border-right: 1px solid var(--btn-text-color);
    background-color: var(--secondary-color-2);
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-height));
    padding-top: 1rem;
}

.sidebar .hidden-sidebar {
  opacity: 0;
  width: 0;
  transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .hidden-sidebar {
  width: 100%;
  height: auto;
  opacity: 1;
}

.sidebar.open .sidebar-link{
    justify-content: flex-start;
    padding-left: 1rem;
}

.sidebar-list-item-preview {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  font-weight: bold;
}

.sidebar.open .sidebar-list-item-preview {
  width: 0px;
  height: 0px;
  opacity: 0;
}

.sidebar.open{
    width: 170px;
}

.middle-sidebar,
.bottom-sidebar{
    width: 100%;
    margin: 1rem 0;
}

.middle-sidebar{
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.bottom-sidebar{
    border-top: 1px solid var(--btn-text-color);
    border-bottom: 1px solid var(--btn-text-color);
}

.my-container{
    display:flex;
}

.content{
    margin: 1rem;
}

.sidebar-list{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.sidebar-link{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0.5rem 0;
    color: var(--btn-text-color);
    text-decoration: none!important;
}

.sidebar-list-item{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidebar-link:hover{
    background-color: var(--accent-color-1);
    color:white;
}

.open-new-tabs{
    cursor: pointer;
}


/* customization dragging */

.container.content{
    padding: 0;
}

.draggable-container{
    cursor: move;
}

.draggable-item{
    cursor: move;
}

.draggable-container.dragging-container, .draggable-item.dragging-item{
    opacity: 0.2;
}


/* header */

.menu-icon-btn{
    background:none;
    border:none;
}

.menu-icon{
    width:35px;
    height:35px;
    cursor: pointer;
}

.theme-toggle-button{
background-color:var(--accent-color-1);
color:black;
display:flex;
justify-content: center;
align-items: center;
cursor: pointer;
padding: .5em 1em;
border-radius: .3em;
border: 2px solid var(--btn-text-color);
outline:none;
margin-left: 10px;
margin-right: 10px;
}

/* semantic colors */

#msg-danger{
    background-color: var(--semantic-color-danger);
    border-radius: .3em;
    padding: 5px;
}

#msg-warning{
    background-color: var(--semantic-color-warning);
    border-radius: .3em;
    padding: 5px;
}

#msg-success{
    background-color: var(--semantic-color-success);
    border-radius: .3em;
    padding: 5px;
}

#msg-info{
    background-color: var(--semantic-color-info);
    border-radius: .3em;
    padding: 5px;
}

body.dark #msg-danger{
    color: black;
}

body.dark #msg-warning{
    color: black;
}

body.dark #msg-success{
    color: black;
}

body.dark #msg-info{
    color: black;
}

/* href container */

.flexbox-container{
    display: flex;
    flex-wrap: wrap;
    background: var(--secondary-color-2);
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    width: auto;
    border: 1px solid var(--btn-text-color);
}

.flexbox-item{
    background: var(--secondary-color-1);
    padding: 5px;
    margin: 10px;
    border: 2px solid var(--btn-text-color);
    border-radius: 3px;
    text-align: center;
}

body.dark .flexbox-item{
    color: black;
    border: none;
}

.easy-ref-logo{
    margin-left: 10px;
    margin-right: 10px;
}

.footer{
    background-color: var(--accent-color-1);
    padding: 10px;
}